<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/html proyect 1/templates/assets/style_boda.css">
    <link rel="icon" href="/html proyect 1/templates/assets/heart-solid-full.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">    <script src="https://kit.fontawesome.com/020c2b5f5e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Italianno&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:wght@400..900&family=Playwrite+DE+SAS&display=swap" rel="stylesheet">
    <title>Ceci y Lau</title>
</head>
<body>
    <section class="section_presentacion"> 
        <div class="banner1">
            <div class="nombres">Ceci y Lau</div>
            <div class="loquepasa">Nos casamos</div>
            <img class="img_section1" src="/html proyect 1/templates/assets/flores.png" alt="flores">
        </div>
    </section>


    <section class="section_contador">
            <p class="loquepasa"> Faltan  </p>

    <div class="contador-contenedor">
        <div id="dias" class="contador"> </div> 
        <div id="horas" class="contador"> </div>
        <div id="minutos" class="contador"> </div>
        <div id="segundos" class="contador"> </div>
    </div>

    <div class="contador-contenedor">
        <div class="contador1"> Dias</div>
        <div class="contador1"> Horas </div>
        <div class="contador1"> Minutos </div>
        <div class="contador1"> Segundos </div>  
    </div>

    </section>

    <section class="section_3">
        <div>
            <p class="parrafo_de_frase">El amor que nos une hoy nos ilumina cada día.</p>
            <p class="parrafo_de_frase"> Queremos compartir con uds este momento para celebrar nuestra unión y la felicidad de que nuestras familias y nuestros amigos y amigas nos acompañen.</p>
            <p class="parrafo_de_frase">Esperamos que sean parte <i class="fa-solid fa-heart-circle-check"></i></p>
        </div>

        <img class="imagen_en_mensaje" src="/html proyect 1/templates/assets/rings.png" alt="anillos">

        <div> 
            Ceremonia ¿?cuando ¿?donde
        </div>
        <div>
            Fiesta ¿?cuando ¿?donde
        </div>
    </section>

    <section>
        Confirmar asistencia
        seccion de fotos
    </section>

    <section>
        Sugerir cancion
        dress code
        lista de regalos
    </section>

    <section>
        Comparti tus fotos 
        insta del evento o pagina del evento
    </section>

    <section> 

        Mapa de secciones link a secciones anteriores
    </section>

    <footer>     
        <p>Hecho con amor por</p>
        <img class="logo-footer" src="/html proyect 1/assets/ardea-transparente-sintexto.png" alt="Logo">
        <h2 class="marca"> <span class="header-item"> <i class="fa-regular fa-registered"></i> </span> Ardea <span class="header-item"> Atelier Web</span> </h2>
        <a class="footer-link not-mobile" href="#"> Inicio <i class="fa-solid fa-house-chimney"></i></a>
        <a class="footer-link just-mobile" href="#"><i class="fa-solid fa-house-chimney"></i></a>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="/html proyect 1/scripts/countdown.js"></script>

</body>
</html>