/** Elementos generales     **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    }

body {
    overflow-x: hidden; /*  para que al configurar un desplazamiento no se me agrande el eje X (que el body no exceda el 100%)*/
    background-image: url('fondodehojas.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* para que no se mueva el fondo al scrollear */
    align-content: center;
    justify-content: center;
    justify-items: center
}

main {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem auto;
    width: 90%;
    min-height: 50%;
    align-items: center;
    align-content: center;

}

.cartel-inicio {
    display: block;
    justify-items: center;
}

h1, .nombres {
    font-family: "Italianno", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 60px !important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.767);
    animation-name: llegar;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}

h2 {
    font-family: "Italianno";
    font-size: 60px !important;
    text-shadow: 1px 1px 3px whitesmoke;
    animation-name: llegar-2;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}

h6, .loquepasa { 
    font-family: "Lobster Two", sans-serif;
    font-style: normal;
    font-size: 30px !important;
    font-weight: 400;
    font-style: normal;
    animation-name: llegar-3;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}


.just-mobile {
    display: none;
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<    TARJETA    >>>>>>>>>>>>>>>>>>*/ 


/* >>>>>>>>>>>>>>>>>>>>> section 1 <<<<<<<<<<<<<<<<<<<<<<<<*/

#section_presentacion {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem auto;
    width: 90%;
    min-height: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.banner1 {
    height: 200px;
    display: block;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;

}

.img_section1 {
    width: 150px;
    align-self: center;
    margin-left: 25px;
}

.img_presentacion {
    display: block; 
    position: relative;
    width: 300px;
    height: auto;
    border: solid 3px rgb(205, 255, 234);
    border-radius: 3rem;
    clear:both;
}


/* >>>>>>>>>>>>>>>>>>>> SECTION 2 --- CONTADOR ------ <<<<<<<<<<<<<<<<<<<<<<<<<*/

#section_contador {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

}

.contador-contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.contador {
    width: 40px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    text-shadow: 3px 3px 7px rgb(255, 255, 255);
    margin: auto;
    text-align: center;

}

.contador1 {
    width: 40px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    text-shadow: 3px 3px 7px rgb(255, 255, 255);
    margin: auto;
    text-align: center;

}


/* <<<<<<<<<<<<<<<<<<    SECTION  3  >>>>>>>>>>>>>>>>>>>>   */


#section_3 {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.parrafo_de_frase {
    margin-left: 20%; 
    margin-right: 20%;   
    text-indent: 5px;
    text-align: center;
    font-family: "Lobster Two", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 200;
    font-style: normal;
}

.imagen_en_mensaje {
    width: 150px;
    height: auto;
    margin:auto;
}


/* <<<<<<<<<<<<<<<<<<    SECTION  4  >>>>>>>>>>>>>>>>>>>>   */

#section_4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.ceremonia, .fiesta {
    width: 80%;
    height: fit-content;
    padding: 2rem;
    background-image: url('flores_de_fondo.png');
    background-repeat: no-repeat;
    background-size: 30vw auto;
    text-align: center;

}

.presentacion_de_evento {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-family: "Italianno";
    font-size: 40px;
    text-shadow: 1px 1px 3px whitesmoke;
}

.especificaciones_de_evento {
    margin: 15px;
    font-family: "Lobster Two", sans-serif;
    font-style: normal;
    font-size: medium;
    font-style: normal;
}

button  {
    background-color: rgb(192, 223, 215);
    padding: 10px 30px;
    border: solid 2px gray;
    border-radius: 25% !important;
}

button:hover {
  background-color:rgb(174, 204, 197);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil al pasar el mouse */
}

button:active {
    background-color: rgba(192, 223, 215, 0.719);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transform: translateY(1px);
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<      section_5_galeriayconfirmacion        >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#section_5_galeriayconfirmacion {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-top: 20px;

}

.galeria {
    display: flex;
    flex-direction: column;
}

.fila_galeria {
    display: flex;
}

.confirmacion {
    margin: 1rem;
    font-family: "Lobster Two", sans-serif;
    text-decoration: none;
    display:flex;
    justify-content: center;
    justify-items: center;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>  MAPA DE SECCIONES ><<<<<<<<<<<<<<<<<<<<<<<<<<*/ 

#mapa_de_secciones {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.agradecimientos {
    color: gray;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<  FOOTER  >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 1rem;
    margin: 2rem auto;
    width: 90%;
    padding-bottom: 1rem;
    padding-top: 1rem;

    }

.logo-footer {
    width: 70px;
}

.marca_footer {
    font-family: "Playfair Display", serif;
    font-optical-sizing:auto;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
}

.atelier_footer {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<  ANIMACIONES  >>>>>>>>>>>>>>>>>>>> */

@keyframes llegar {
    from {
    transform: translateY(0);
    opacity: 0;
    }
  to {
    transform: translateY(25%);
    opacity: 1;
    }
}

@keyframes llegar-2 {
    from {
    transform: translateX(-25%);
    opacity: 0;
    }
  to {
    transform: translateX(0);
    opacity: 1;
    }
}

@keyframes llegar-3 {
    from {
    opacity: 0;
    }
  to {
    opacity: 1;
    }
}

/* <<<<<<<<<<<<<<<<<<<<<< MEDIA QUERYS    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media screen and (max-width: 768px) {
    .section_contador {
        background-image: url('circulo.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

    }

    .fila_galeria, #mapa_de_secciones {
        flex-direction: column;
        justify-content: center;
        justify-items: center;

    }

}