/** Elementos generales     **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    }

body {
    overflow-x: hidden; /*  para que al configurar un desplazamiento no se me agrande el eje X (que el body no exceda el 100%)*/
    background-image: url('assets/fondo-de-papel-geometrico-suave.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /*para que no se mueva el fondo al scrollear */
}

.logo1 {
    margin-right: 2px;
    border-radius: 50%;
    height: 100px;
    animation-name: aparecer;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; /* para que quede en la posición final de la animacion*/

}

main {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem auto;
    width: 95%;
    height: auto;

}

header, footer{
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    height: fit-content;
}

h1 {
    font-family: "Italianno", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 60px !important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.767);
    animation-name: mover-despacio;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}

.marca {
    margin-top: 10px;
    padding: 15px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.header-item {
    font-size: 20px;
}

.header-item, h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h3 {
    font-family: "Playfair Display", serif;
    align-self: center;
    justify-self: center;
    clear: both;
}

p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    text-indent: 15px;
    text-align: justify;
}

.rounded {
    max-width: 150px;
    height: auto;
}

aside {
    background-color: rgba(0, 0, 0, 0.315);
    width: 50px;
    height: 190px;
    margin: 5px;
    border-radius: 5px;
    position: fixed;
    top: 20%;
    right: 0%;
    z-index: 99999;
    align-items: center;
}

.net-item {
    font-size: 40px;
    color: white;
    opacity: 50%;
    margin-left: 7px;
}

.net-item:hover {
    opacity: 100%;
}

i:hover {
    transform: scale(0.8);
    transition: transform 1.3s ease;
}

section {
    margin-top: 50px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<  SECTION 1  >>>>>>>>>>>>>>>>>>>> */

#section1 {
    display: flex;
    align-items: center;
    
}

.section1-element {
    width: 40%;
    margin: auto;
}

span {
    font-weight: 500;
    font-size: large;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<  SECTION 2  >>>>>>>>>>>>>>>>>>>> */

.contador-contenedor {
    display: flex;
    align-content: center;
    justify-items: center;
    border: solid;
    border-radius: 20% 5% 20% 5%;
    border-color: rgb(214, 208, 219);
    box-shadow: 2px 2px 5px  rgb(89, 145, 155) ;
}

.contador {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    margin: auto;
}

#segundos {
    width: 30px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<  ANIMACIONES  >>>>>>>>>>>>>>>>>>>> */

@keyframes mover-despacio {
    from {
    transform: translateX(0);
    opacity: 0;
    }
  to {
    transform: translateX(100px);
    opacity: 1;
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
        rotate: -45deg;
    }
    to {
        opacity: 1;
    }
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<  MEDIA   >>>>>>>>>>>>>>>>>>>> */

@media screen and (max-width: 768px) {
    aside {
        display: none;
    }
}

@media screen and (max-width: 430px) {
  p {
    color: red;
  }
}